.card{
    margin: 1rem;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 6px;
    display: flex;
    background-color: rgb(214, 214, 214);
    min-height: 3rem;
    justify-content: center;
}