.container{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}
.main{
    width: auto;
    margin-top: 15%;
}

@media only screen and (max-device-width: 480px) {
    .main {
        margin-top: 30%;
    }
}